<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">



    <context:component-scan base-package="com.iweb "/>
    <mvc:annotation-driven/>
    <mvc:default-servlet-handler/>



    <!--&lt;!&ndash;开启基于注解的AOP功能&ndash;&gt;
    <context:component-scan base-package="com.iweb.service.aop"/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>-->

    <!--配置数据源-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/librarymanager"/>

    </bean>

    <!--sqlsesionfactory工厂类 需要托管给spring-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--数据源注入到factory(工厂)里面-->
        <property name="dataSource" ref="dataSource"/>
        <!--所有的mapper配置托管-->
        <property name="mapperLocations">
            <list>
                <value>classpath*:/mappers/*Mapper.xml</value>
            </list>
        </property>

    </bean>
    <!--注入dao/mapper-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.iweb.mapper"></property>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
    </bean>




</beans>